---
layout: default
title: Home
---
<head>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<div class="intro">
  <p>
  To those who think Linux users are eccentric and their user space is archaic, I couldn’t agree more. Non-profit work from disparate programmers will never match the polish of Apple products powered by the industry’s best engineers and their <a href="https://github.com/hollance/neural-engine">ultra-optimized neural networks</a>. However, the fact that Linux servers power the state of the art of AI, yet Linux users don’t see a lick of it, is possibly the worst trade deal of the Unix epoch.
  </p>

  <p>
  I want to change this incrementally by documenting specific problems I face using the Linux desktop in <i>James Mickens</i>-style and solving them through simple, open-source programs and machine learning solutions. In doing so, I want to bridge the gap between <b>Linux enthusiasts</b> and <b>AI enthusiasts</b>, two significant yet disparate communities. If you find a project that piques your interest, please consider getting involved and contributing!
  </p>
</div>
<br>

<div class="kanban-board">
  {% for category in site.categories %}
    <div class="board">
      <div>
        {% for post in category[1] %}
          {% if post.type == 'problem' %}
            <h2>
              <a class="problem-title" href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h2>

            <small class="problem-text">
              {{ post.excerpt | strip_html | truncatewords: 100 }}
              <a href="{{ post.url | absolute_url }}">Read more →</a>
            </small>
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <div class="card">
        {% for post in category[1] %}
          {% if post.type == 'solution' %}
            <div>
              <h3>
                <a class="solution-title" href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>

              <small class="solution-text">
              {{ post.excerpt | strip_html | truncatewords: 30 }}
              <a href="{{ post.url | absolute_url }}">Read more →</a>
              </small>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
