---
layout: default
title: Home
---
<head>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<div class="intro">
  <p>
  To those who think Linux users are eccentric and their software is archaic, I couldn’t agree more. Non-profit work from disparate programmers cannot match the polish of Big Tech products powered by the industry’s best engineers and their ultra-optimized neural networks. However, the fact that Linux servers power the state of the art of AI, yet Linux users don’t see a lick of the automation benefits, is possibly the worst trade deal of the Unix epoch /s.
  </p>

  <p>
  I will incrementally bridge this automation gap by first articulating specific usability problems I encounter in <a href="https://mickens.seas.harvard.edu/wisdom-james-mickens"><i>James Mickens</i>-style</a>, and second solving them through simple open-source programs and generative AI applications that are built on existing, <b>underutilized innovations</b>. Follow along as I spend a significant chunk of my life solving problems that most people have never thought about, albeit in some pretty clever ways. If you find a project that piques your interest, please consider getting involved and contributing!
  </p>

  <p><small>
  <i>Note</i>: Most of my programs require an LLM. I reccomend locally hosting an LLM server with an OpenAI-compatible API to avoid <a href=https://openai.com/pricing>paying</a>. A convenient GPU-utilizing option is <a href=https://github.com/ollama/ollama>Ollama</a>, for which my programs will use its REST API.
  </small></p>
</div>
<br>

{% assign categories = 'desktop,packages,non-programming,shells' | split: ',' %}

<div class="kanban-board">
  {% for category_name in categories %}
    {% assign category = site.categories[category_name] %}
    <div class="board">
      <div>
        {% for post in category %}
          {% if post.type == 'problem' %}
            <h2>
              <a class="problem-title" href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h2>

            <small class="problem-text">
              {{ post.excerpt | strip_html | truncatewords: 100 }}
              <a href="{{ post.url | absolute_url }}">Read more →</a>
            </small>
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <div class="card">
        {% for post in category %}
          {% if post.type == 'solution' %}
            <div>
              <h3>
                <a class="solution-title" href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>

              <small class="solution-text">
              {{ post.excerpt | strip_html | truncatewords: 30 }}
              <a href="{{ post.url | absolute_url }}">Read more →</a>
              </small>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
