---
layout: default
title: Home
---
<head>
  <link rel="stylesheet" href="{{ '/public/css/styles.css' | relative_url }}">
</head>

<div class="intro">
  <p>
Software ages like fine milk. To keep it from spoiling, it takes a team of dedicated people and countless man-hours, which is a luxury open-source software (OSS) often lacks. Meanwhile, Big Tech products brandish the industry's best engineers and colossal neural networks, further widening the gap due to demand for the latter. Nonetheless, we have entered a democratizing era of computing, and I will only stay Team Penguin if they take advantage of the new resources. Now that creativity is the limiting reactant to produce great software, the door is wide open for people like me. So I will bridge this automation gap by first articulating specific usability problems I encounter (in <a href="https://mickens.seas.harvard.edu/wisdom-james-mickens"><i>James Mickens</i></a>-style), and second proposing simple yet cutting-edge solutions that combine underutilized OS features with generative AI models.
  </p>
  <p>
  This blog presents a series of persuasive arguments to defend those solutions, record the knowledge from my first two years of college, and expand the frontier of OSS. I'm bored of the traditional way humans use computers, but I see a clear path to making it seamless. Throughout these articles, you'll find topics from a wide breadth of disciplines that I found really cool. I've poured considerable research into each article to ensure that curiosity is the only prerequisite to comprehension. I hope reading it provides you with fresh perspective on problems, or recreates an <i>"aha!"</i> moment I had.
  </p>

  <details>
    <summary>If you're interested in training models or developing software, <i>please</i> click this...</summary>
    <p>
    Listen, I'm going to keep it straight with you: this website is a help wanted poster. I've narrarated the requirements and design of 17 ideas up to date, so let's run the numbers. Assuming I stop having new ideas and each one needs 100+ hours of development and testing <small>(which is honestly a low ball considering my heuristic is admissible)</small>, it will take 1700+ hours of focused work. Assuming I can dedicate on average 1.5 hours/day, I would be done in 1133 days, or over 3 years.
    </p>

    <p>
    I don't have 3 years, but I do have a proposition. If an idea piques your interest, please implement it yourself. It's a win-win because you get to sharpen your coding knives on a pre-designed insightful project, and I get to play with a new toy at the end of it. For those want to enter open source development, this is the perfect place to start because there is 0 bureaucracy. If you decide to adopt an idea, then let me know <a href="mailto:chinarjoshi7@gmail.com">here</a> so I can mark the article and contribute any time I can. To help you decide, I've ternary encoded some metadata for each idea as a number (\(d_2d_1d_0\)) = (progress, time commitment, AI stack position)

    <table>
        <tr>
            <th></th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
        </tr>
        <tr>
            <th>\(d_2\)</th>
            <td>Article unpublished</td>
            <td>Waiting for adoption</td>
            <td>Implementation underway/complete</td>
        </tr>
        <tr>
            <th>\(d_1\)</th>
            <td>Straightforward (50hrs)</td>
            <td>Challenging (120hrs)</td>
            <td>Good luck... (250+hrs)</td>
        </tr>
        <tr>
            <th>\(d_0\)</th>
            <td>Traditional, deterministic software</td>
            <td>Built upon foundational models</td>
            <td>Requires model training or data collection</td>
        </tr>
    </table>
  </details>
  
  <p>
    Note: <b>This site is under construction.</b> The content that you see is incomplete and will change at any time.
  </p>
</div>
<br>

{% assign categories = 'regulation,desktop,packages,non-programming,shells' | split: ',' %}

<div class="kanban-board">
  {% for category_name in categories %}
    {% assign category = site.categories[category_name] %}
    <div class="board">
      <div>
        {% for post in category %}
          {% if post.type == 'problem' %}
            <h2 class="problem-title">
              <a href="{{ post.url }}"> {{ post.title }} </a>
            </h2>

            <small class="problem-text">
              {{ post.excerpt | strip_html | truncatewords: 100 }}
            </small>
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <div class="card">
        {% for post in category %}
          {% if post.type == 'solution' %}
            <div>
              <h3 class="solution-title">
                <a href="{{ post.url }}"> {{ post.title }} </a>
              </h3>
              <small>Plus,</small> <span class="solution-subtitle"> {{ post.subtitle }} </span>
              <br>
                
              <small class="solution-text">
              {{ post.excerpt | strip_html | truncatewords: 50 }}
              </small>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% assign misc = site.categories['misc'] %}
  {% for post in misc %}
    <div class="board">
    {% if post.type == 'solution' %}
        <h3 class="solution-title">
    {% else %}
        <h3 class="problem-title">
    {% endif %}
          <a href="{{ post.url }}"> {{ post.title }} </a>
        </h3>
        <small class="solution-text">
        {{ post.excerpt | strip_html | truncatewords: 50 }}
        </small>
      </div>
  {% endfor %}
  
</div>
