.kanban-board {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.board {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
}

.problem-title {
  margin-top: 10px;
}

.problem-title a {
  color: #eb2939;
}

.problem-text {
  color: black;
}

.solution-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.solution-title a {
  color: #2b7a5f;
}

.solution-subtitle {
  font-size: 1em;
  color: #1f5744;
}

.solution-text {
  color: black;
}

.card {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-bottom: 15px;
}

.board > div > div:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.custom-note {
    margin-bottom: 20px;
}

.custom-note summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: #DFDFEB;
    border-radius: 4px;
    outline: none;
}

.custom-note[open] summary {
    border-bottom: 2px solid #B6B6C1;
}

.custom-note p {
    padding: 10px;
    background-color: #F3F3F3;
    border-radius: 5px;
    margin: 0;
}
