.kanban-board {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.board {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.problem-title {
  margin-top: 10px;
}

.problem-title a {
  color: #eb2939;
}

.problem-text {
  color: black;
}

.solution-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.solution-title a {
  color: #2b7a5f;
}

.solution-subtitle {
  font-size: 1em;
  color: #1f5744;
}

.solution-text {
  color: black;
}

.card {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.board > div > div:not(:last-child) {
    margin-bottom: 30px;
}
